body {
  background-color: khaki;
  place-items: center;
}
header {
  text-align: center;
  background-color: crimson;
  padding: 0%;
  margin-top: 0;
}
#container {
  margin: 10em;
  background: beige;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background: white;
  display: flex;
  flex-direction: column;
  border: 5px beige solid;
  max-width: 30%;
}
img {
  width: 250px;
  height: 250px;
}
