body {
  background-color: khaki;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 100vh;
}
header {
  text-align: center;
  background-color: crimson;
  padding: 0%;
  margin-top: 0;
}
.card {
  
}
